*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-weight: 500;
    color: #000000;

}
body{

}
.nav-link{
    font-family: Roboto;
    font-weight: 500;
    color: black;
}
.navbar-brand{
margin-left: 13rem;
}
.navbar-nav{
    margin-left: 4rem;
}
.b-shadow{

}
.container-fluid{
    background-color: #ffffff;
}
.second-line{
    display: flex;
    flex-direction: column;
}
.second-line-first{
    display: flex;
    flex-direction: row;

}
.space-1{
    margin-left: 11rem;
    margin-right: 30rem;
}
.space-1 p{
    color: #ED1C24;
    font-weight: 700;
}
.hline {
    width:100%;
    height:1px;
    background: #E4E4E4;
}
.space-2{
    margin-left: -9rem;
}
.hero-main{
    margin-top: 4rem;
}
.hero-1 img{
    width: 20rem;
    height: 20rem;
    margin-right: 5rem;

}
.hero-1{
    display: flex;
    flex-direction: row;
    margin-left: 12rem;
}
.hero-1-content{
    display: flex;
    flex-direction: column;
}

.hero-1-content p:nth-child(1){
text-align: center;
}
.hero-1-content p:nth-child(2){
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: underline;
}
.hero-1-content p:nth-child(3){
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    font-size: 1.389rem;
    color: #ED1C24;
    text-decoration: underline;
}
.hero-1-content p:nth-child(4){
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 0.875rem;
    padding-top:0.5rem;
    padding-left: 15rem;
    padding-right: 15rem;
    color: #212529;
    text-decoration: underline;
    letter-spacing: 1.2px;
}

.hero-1-content button{
    width:12.665rem;
    border-radius: 25px;
    background-color: #ED1C24;
}
.hero-1-content button:hover{
    background-color: #ED1C24;

}
.hero-1-content div{
    text-align: center;
}

.hero-2{
    display: flex;
    flex-direction: row;
    margin-top:5rem;
}
.hero-2-content{
    display: flex;
    flex-direction: column;


}


.hero-2-content p:nth-child(1){
    text-align: center;
}
.hero-2-content p:nth-child(2){
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: underline;
}
.hero-2-content p:nth-child(3){
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    font-size: 1.389rem;
    color: #ED1C24;
    text-decoration: underline;
}
.hero-2-content p:nth-child(4){
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 0.875rem;
    padding-top:0.5rem;
    padding-left: 15rem;
    padding-right: 15rem;
    color: #212529;
    text-decoration: underline;
    letter-spacing: 1.2px;
}

.hero-2-content button{
    width:12.665rem;
    border-radius: 25px;
    background-color: #ED1C24;
}
.hero-2-content button:hover{
    background-color: #ED1C24;

}
.hero-2-content div{
    text-align: center;
}
.hero-2-img img{
    width: 20rem;
    height: 20rem;
}



/*   */
.hero-3 img{
    width: 20rem;
    height: 20rem;
    margin-right: 5rem;

}
.hero-3{
    display: flex;
    flex-direction: row;
    margin-left: 12rem;
    margin-top:5rem;
}
.hero-3-content{
    display: flex;
    flex-direction: column;
}

.hero-3-content p:nth-child(1){
    text-align: center;
}
.hero-3-content p:nth-child(2){
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: underline;
}
.hero-3-content p:nth-child(3){
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    font-size: 1.389rem;
    color: #ED1C24;
    text-decoration: underline;
}
.hero-3-content p:nth-child(4){
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 0.875rem;
    padding-top:0.5rem;
    padding-left: 15rem;
    padding-right: 15rem;
    color: #212529;
    text-decoration: underline;
    letter-spacing: 1.2px;
}

.hero-3-content button{
    width:12.665rem;
    border-radius: 25px;
    background-color: #ED1C24;
}
.hero-3-content button:hover{
    background-color: #ED1C24;

}
.hero-3-content div{
    text-align: center;
}
/*Signup Section*/
h1 {
    text-align: center;
    /*padding: 50px 0;*/

    color: #080808;
}
.signup p{
    text-align: center;
    padding: 20px 0;
    color:black;
}

form {
    width: 43.75rem;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    /*border: 1px solid #ddd;*/
    /*border-radius: 5px;*/
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 136, 255);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.social-media-signin {
    text-align: center;
    padding: 20px;
}

.social-media-signin p {
    margin-bottom: 20px;
}

.google-signin,
.facebook-signin {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}
.twitter-sign.in{
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.google-signin:hover,
.facebook-signin:hover
.X-signin:hover {
    background-color: #f0f0f0;
}
.hero-1 img{
    filter: drop-shadow(-16px -6px red);
}